body{
    background-color: #010101;
}
.one{
    background-color: #010101;
     height: 50px;
    /* height: 500px; */
    padding: 2% 15% 10%;
}
body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* .container-fluid{  
    background-color: #010101!important;
} */

.navbar-brand{
    font: 4rem;
    font-weight: bold;
    margin-left: 150px;
}
.navbar{
    padding: 0 0 4rem;
}
.nav-item{
    padding: 0 15px;

    border-bottom: 2px solid transparent;
    color: white;
}
.nav-item:hover {
    border-bottom: 2px solid white;
  }
.nav-link{
    font-size: 20px;
    font-weight: 600;
}
.navbar-collapse{
    margin-right: 130px;
}

/* ****************** navbar css till here ******************* */

.problem-content{
    font-size: large;
    margin-left: 100px;
    margin-right: 100px;
    background-color: #010101;
    color: white;
    animation-duration: 5s;
}

.problem-content>p{
    line-height: 2;
    margin-bottom: 50px;
}
.con{
    transition: transform .2s;
}

.zoom:hover {
    transform: scale(1.5); 
  }
.problem-content{

}